input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.bkgr {
  background: rgb(219, 48, 130);
}

.txtPink {
  color: rgb(219, 48, 130);
}

.trsMenu {
  transition: margin-left 0.3s ease;
}

.bkgrGradTitle {
  background: rgb(219, 48, 130);
  background: linear-gradient(
    90deg,
    rgba(219, 48, 130, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.dataTables_filter input[type="search"] {
  border: 1px solid #ced4da;
  border-radius: 8rem;
  font-size: 0.875rem;
  line-height: 1.5;
}
